.body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding-bottom: 10px;
    padding-top: 20px;
    width: 200%;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://i.pinimg.com/originals/53/c0/f5/53c0f5da3c2a05de8679e7a12460824b.png');
    opacity: 0,5;
}

.titulo {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    padding-left: 30px;
    padding-top: 10px;
    color: white;
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 1px;
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    padding-left: 35px;
    font-size: 30px;
    font-weight: 1500;
}

.geral {
    padding-left: 30px;
    padding-right: 30px;
}

.origemDoUniverso {
    padding-top: 320px;
}