::selection {
    background: #D9D9D9;
    color: #20324D;
}

.cabecalho ::selection {
    background: #6C7EA1;
    color: white;
}

.body {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    background-color: #F6F9FF;
} /* o body já vem com a margem pre-estabelecida, então eu tirei essa margem porque ela atrapalhava a imagem */

.cabecalho {
    padding-bottom: 4%; /*coloquei uma margem embaixo, já que eu tinha tirado ela antes */
    padding-top: 4%;
    width: 100%;
    height: 25%;
    position:relative;
    top: 100%;
    background-image: url('https://i.pinimg.com/originals/37/d6/a9/37d6a932496dfa58897e42718cbdbbcc.jpg');
}

.cabecalhomaior {
    padding-bottom: 15%;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font: weight 50%;
    color: white;
    font-size: 400%;
    letter-spacing: 15%;
    line-height: 0%;
    padding-left: 3%;
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 210%;
    color: #141414;
    font-weight: bolder;
    width: 50%;
    padding-left: 3%;
}

.geral {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
} /* margem na direita e esquerda nda parte principal do site (topicos de pesquisa) */

.assunto {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    color: #465F6E;
    letter-spacing: 0%;
    font-weight:bold;
    padding: 0%;
}

.textinho0 {
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #616161;
    text-align: justify;
    margin-left: -10%;
    /* padding-bottom: 5%; */
}

.teste {
    padding-top: 2%; /* a imagem estava comendo o resto do texto então eu coloquei uma margem no topo do primeiro texto depois do cabeçalho */
}

.testetabela {
    border-color: transparent;
    color: transparent;
    -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;  
}

/*
.teste{
    color: #F6F9FF;
}
*/


.textinho1 {
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #616161;
    text-align: justify;
    margin-left: 10%;
    /* padding-bottom: 5%; */
}

.video {
    width: 500px;
    height: 281px;
    /* padding-bottom: 5%; */
}

.tabela {
    border:transparent;
}

.tabelaU {
    border:transparent;
    margin-left: 20%;
}


.rodape {
    padding-left: 50px;
    padding-right: 30px;
    height: 120px;
    background-image: url('https://i.pinimg.com/originals/c5/fd/37/c5fd375c973655c45bb21f700549b94f.jpg');
}

.integrantes {
    font-family: 'Montserrat', sans-serif;
    line-height: 10px;
    padding-top: 35px;
    font-size: 150%;
    font-weight: bold;
    text-align: right;
    color: white;
}

.nomes {
    font-family: 'Roboto', sans-serif;
    font-size: 105%;
    font-weight: 650;
    text-align: right;
    color: white;
}

.simbolo {
    padding-top: 1.5%;
    height: 75px;
    width: 250px;
}

.logo{
    height: 75px;
    width: 250px;
    text-align: right;
}

.mod {
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: justify;
    padding-bottom: 50px; 
}

.espaço {
    padding: 3%;
}

.logo {
    padding-right: 10%;
    padding-bottom: 20%;
    padding-top: 1%;
}
