::selection {
    background: #D9D9D9;
    color: #20324D;
}

.cabecalho ::selection {
    background: #6C7EA1;
    color: white;
}

.body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} /* o body já vem com a margem pre-estabelecida, então eu tirei essa margem porque ela atrapalhava a imagem */

.cabecalho {
    padding-bottom: 10px; /* coloquei uma margem no topo, já que eu tinha tirado ela antes */
    padding-top: 20px; /* coloquei uma margem na esquerda já que eu tinha tirado ela antes */
    width: 200%;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://i.pinimg.com/originals/53/c0/f5/53c0f5da3c2a05de8679e7a12460824b.png');
    opacity: 0,5;
}

.titulo {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    padding-left: 30px; /* coloquei uma margem na esquerda já que eu tinha tirado ela antes */
    padding-top: 10px; /* coloquei uma margem no topo, já que eu tinha tirado ela antes */
    color: white;
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 1px;
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    padding-left: 35px; /* coloquei uma margem na esquerda já que eu tinha tirado ela antes */
    font-size: 30px;
    font-weight: 1500;
}

.geral {
    padding-left: 30px; 
    padding-right: 30px;
} /* margem na direita e esquerda nda parte principal do site (topicos de pesquisa) */

.origemDoUniverso {
    padding-top: 320px; /* a imagem estava comendo o resto do texto então eu coloquei uma margem no topo do primeiro texto depois do cabeçalho */
}
